<div class="Ervaring-container" id="ervaring">
    <h2>Studies & Opleidingen</h2>
    <h2>Werkervaring</h2>
<div class="Ervaring-container-text">
    <h3><i>Obelisk, Multimedi</i></h3>
    <p>2021 - 2022</p>
    <p>.Net ontwikkelaar met c#  
             </p>
</div>
<% for(let i = 1; i < mijnObjectErvaring.length;i++) { %>
    <div class="Ervaring-container-text">
        <h3><i><%= mijnObjectErvaring[i].plek %></i></h3>
        <p><%= mijnObjectErvaring[i].jaar %></p>
        <p><%= mijnObjectErvaring[i].omschrijving %></p>
    </div>
<% } %>
</div>