<div class="top-contact-me " id="contact">
    <h2>Contact me</h2>
    <div class="mid-main" >
        <div class="mid-main-con mid-main-con-one">
            <div class="mid-main-img-rounded">
                <img src="images/map.png" alt="afbeelding adres">
            </div>
            <h2>Adres</h2>
            <p>9255 Buggenhout</p>
        </div>
        <div class="mid-main-con mid-main-con-two">
            <div class="mid-main-img-rounded">  
                  <img src="images/gmail.png" alt="afbeelding adres">
            </div>
            <h2>E-mail</h2>
            <p><a href="mailto:louagegael@hotmail.com">louagegael@hotmail.com</a></p>
        </div>
        <div class="mid-main-con mid-main-con-three">
            <div class="mid-main-img-rounded">  
            <img src="images/smartphone.png" alt="afbeelding adres">
            </div>
            <h2>GSM</h2>
            <p>+32 (0)497 42 33 60</p>
        </div>
    </div>
    
</div>
<br>