<footer>
    <small class="copyright">&#169;</small>
    <script src="javascript/copyright.js">
        const d = new Date();
document.querySelector(".copyright").innerHTML += " " + d.getFullYear();
    </script>
  </footer>
</body>
</html>
