<div class="container-form">
    <form class="contact-form" actio="mailto:louagegael@hotmail.com">
      <div class="label-form">
          <div>
      <label for="voornaam"></label>
      <input type="text" id="voornaam" name="voornaam" placeholder="Voornaam"><br>
    </div>
      
        <div>
            <label for="achternaam"></label>
      <input type="text" id="achternaam" name="achternaam" placeholder="Achternaam">
   
    </div>
    
        </div><br>
        <input class="input-Email" type="text" id="email" name="email" placeholder="E-mail">
        <label for="email"></label>
        <br><br>
      <textarea cols="49" rows="10" placeholder="Bericht"></textarea> <br><br>
      <button><a href="mailto:louagegael@hotmail.com">Verzenden</a></button>
    </form>  
    </div>
</main>