<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cv Gael Louage</title>
    <!--font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/skillAnimation.css">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">

<link rel="manifest" href="/site.webmanifest">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<script>
    window.onload = function() {
let i = 0;
const naam = 'ael Louage';
schrijfText();
function schrijfText() {
 if (i < naam.length) {
   document.getElementsByTagName("h1")[0].innerHTML += naam.charAt(i);
   i++;
   setTimeout(schrijfText, 100);
 }
}
}
</script>
<header>
   <nav>
       <ul>
      <!-- <span class="icon-navigation"><span>GL</span></span> -->
       <li class="bar-hover"><a href="#about-me">Over mij</a></li>
       <li class="bar-hover"><a href="#skills-id">Skills</a></li>
       <li class="bar-hover"><a href="#ervaring">Ervaring</a></li>
       <li class="bar-hover"><a href="#contact">Contact</a></li> 
   </ul>
   <i class="fa fa-bars"></i>    
   </nav>
</header>
<script>
  //var
  const navBar = document.getElementsByTagName("nav")[0];
  const btnNav = document.querySelector(".fa-bars");
  const skillButton = document.getElementById("skills-id");
  btnNav.style.transform = "rotate(180deg)";
  // Eventlisteners
  btnNav.addEventListener("click", function () {
      if (btnNav.style.transform == "rotate(180deg)") {
          btnNav.style.transform = "rotate(270deg)";
          btnNav.style.top = "5%";
          navigationBar(" res", " res");
      } else {
          btnNav.style.top = "25%";
          btnNav.style.transform = "rotate(180deg)";
          navigationBar("", "drop-btn");
      }
  });
  // functions
  function navigationBar(classOne, classTwo) {
      if (navBar.className == "") {
          navBar.className += classOne;  
      } else {
          navBar.className = classOne;
      }
  }
</script>
