<%- include("header") -%>
        <div class="container-top-main">
            <div class="con-top-tekst">
                <span class="ik-ben">Hallo ik ben</span>
                <h1>G</h1>
                <h2>Junior .Net C# ontwikkelaar</h2>
                <p><a class="mail" href="mailto:louagegael@hotmail.com"><i class="fa fa-envelope"
                            style="font-size:24px"></i></a> louagegael@hotmail.com</p>
                <p><a href="skype:louagegael?call"><i class="fa fa-phone" style="font-size:24px"></i></a> +32 (0)497 42 33 60</p>
                <p><a href="https://www.google.com/maps/place/9255+Buggenhout/@51.0127364,4.1627019,13z/data=!3m1!4b1!4m5!3m4!1s0x47c3949939888d37:0x332fcf1f7f86382c!8m2!3d51.0153863!4d4.202132" target="_blank"><i class="fa fa-map-marker" style="font-size:24px"></i></a> 9255 Buggenhout</p>
                <a href="https://nl-be.facebook.com/gael.louage" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/ga%C3%ABl-louage-812bb0224/" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
                        <a href="https://gitlab.com/LouageGael" target="_blank"> <i class="fa fa-gitlab"></i></a>
            </div>
            <img id="personal-foto" src="Images/mijnFoto.jfif" alt="afbeelding Gael Louage">
        </div>
        <%- include("skills") -%>
        <%- include("boxesErvaring") -%>
        <%- include("boxesContactMe") -%>
        <%- include("form") -%>
<%- include("footer") -%>