<div id="about-me">
    <img src="images/pixaone.webp" alt="afbeelding programmeren">
    <div class="about-me-tekst">
        <h2>Over mij</h2>
        <p>Hallo, ik ben Gaël. Een junior .Net met C# ontwikkelaar.</p>
        <p>Ik heb ervaring met:</p>
        <div class="about-me-ervaring-boxes">
            <span>Javascript</span>
            <span> C#</span>
            <span>HTML5</span>
            <span>CSS3</span>
        </div>
        <button><a href="/cv/CV-Gael-Louage.docx" download rel="noopener noreferrer" target="_blank">Download
                CV</a></button>
    </div >
    <!--skills-->
    <div id="skills-id"  class="skills">
        <h2>Skills</h2>
        <div class="skill-left">
            <div class="coding icons">
                <div class="coding-icons coding-icon-one">
                    <img src="images/html-5.png" alt="icons coding type">
                </div>
                <div class="coding-icons coding-icon-two">
                    <img src="images/js.png" alt="icons coding type">
                </div>
                <div class="coding-icons coding-icon-drie">
                    <img src="images/css-3.png" alt="icons coding type">
                </div>
                <div class="coding-icons coding-icon-vier">
                    <img src="images/hashtag.png" alt="icons coding type">
                </div>
            </div>
            <ul>
                <li>
                    <span class="bar"><span class="ht"></span></span><p class="html-innerText"></p>
                </li>
                <li>
                    <span class="bar"> <span class="ht"></span></span><p class="html-innerText"></p>
                </li>
                <li>
                    <span class="bar"> <span class="ht"></span></span><p class="html-innerText"></p>
                </li>
                <li>
                    <span class="bar"> <span class="ht"></span></span><p class="html-innerText"></p>
                </li>
            </ul>
            <script src="javascript/skillBarProges.js"></script>
        </div>
    </div>
    <div class="skill-image">
        <img src="images/house.webp" alt="">
    </div>

</div>