* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
	/*background:#2d3b36 url("/images/blurrrr2.jpg")no-repeat center center fixed;*/
    background-color: hsl(253, 24%, 7%);
    padding-top: 0px;
    color: hsl(300, 2%, 91%);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    position: relative;
    font-size: 5rem;
    margin: 25px 0;
}

h2 {
    margin: 0 0 20px 0;
}
p {
    font-size: 18px;
}
/*navigatie*/
nav {
    position: relative;
    background-color: hsl(250, 9%, 13%);
    padding: 2vh;
    text-align: center;
}

nav li {
    display: inline;
    padding: 2vh;
}

nav a {
    text-decoration: none;
    color: hsl(300, 2%, 91%);
    font-weight: bold;
    font-size: 24px;
}

/* id's */
#personal-foto {
    padding: 25px;
    border-radius: 25%;
}

nav .fa-bars {
    display: none;
    color: hsl(300, 2%, 91%);
}
/*classe*/
/* nav */
.bar-hover:hover {
    border-bottom: 1px solid hsl(171, 75%, 40%);
    border-bottom-style: double;
}
nav a:hover {
    transition: 0.5s;
    color: hsl(171, 75%, 40%);
}


.icon-navigation span {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 20%;
    left: 16%;
}

/*top main*/
.container-top-main {
    margin: 14% auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
}

.con-top-tekst {
    justify-self: center;
}
.con-top-tekst a {
    color: white;
}
.con-top-tekst p {
    margin: 20px 0;
    font-size: 18px;
}
.container-top-main img {
    width: 280px;
    margin-top: 5%;
    border-radius: 25%;
    box-shadow: 1px 1px 1px 2px hsl(300, 2%, 91%);
    border: 10px solid black;
    justify-self: center;
}
.ik-ben {
    padding: 12px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: hsl(300, 2%, 91%);;
    position: relative;
    background-color: hsl(171, 75%, 40%);
    /* animation: leftToRight 4s; */
}
/* @keyframes leftToRight {
    0% {
        left: 50%;
    } 
    10% {
        left: 0%;
    }
    20% {
        left: 15%;
    }
    30% {
        left: 5%;
    }
    40% {
        left: 7%;
    }
    50% {
        left: 3%;
    }
    60% {
        left: 0;
    }
    70% {
        left: 2%;
    }
    80% {
        left: 0;
    }
} */
/*social media*/
.fa {
  margin-right: 15px;
  
}
.fa-facebook:hover, .fa-linkedin:hover, .fa-gitlab:hover {
background-color: rgba(255, 255, 255, 0.575);
transition: 0.5s;
color: hsl(171, 75%, 40%);
border-color:  hsl(171, 75%, 40%);
}
.fa-facebook {
  margin-top: 25px;
color: hsl(300, 2%, 91%);
font-size: 18px;
padding: 10px 16px;
border-radius: 10px;
border: 1px solid white;
}
.fa-linkedin {
color: hsl(300, 2%, 91%);
font-size: 18px;
padding: 10px 12px;
border-radius: 10px;
border: 1px solid white;
}
.fa-gitlab {
    color: hsl(300, 2%, 91%);
    font-size: 18px;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid white;
    }
/*about me section*/
#about-me {
    background-color: hsl(250, 9%, 13%);
 display: grid;
 grid-template-columns: repeat(2,1fr);
}
.about-me-tekst {
  justify-self: center;
  align-self: center;
}
#about-me img {
  width: 100%;
}
#about-me h2 {
  font-size: 30px;
}
.about-me-ervaring-boxes{
  margin-top: 50px;
  display: flex;
  position: relative;
}
.about-me-ervaring-boxes span {
  padding: 18px 10px;
  font-size: 18px;
  margin-right: 25px;
 border-radius: 15px;
  border: 1px solid hsl(171, 75%, 40%);
}
.about-me-tekst button:hover {
  transition: 0.5s;
  opacity: 0.7;
}
.about-me-tekst a {
    text-decoration: none;
    color: hsl(300, 2%, 91%);
}
.mail {
    color: hsl(300, 2%, 91%);
}
.about-me-tekst button {
  padding: 18px;
  margin-top: 15px;
    border-radius: 15px;
  border: none;
  color: hsl(300, 2%, 91%);
  font-size: 20px;
  background-color:  hsl(171, 75%, 40%);
}
/*main con*/
.mid-main-con p {
    width: 100%;
    margin-bottom: 50px;
    color: hsl(300, 2%, 91%);
}
.mid-main-con h2 {
    text-align: center;
    font-size:  25px;
    color: hsl(300, 2%, 91%);
}
.mid-main-con {
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        background-color: hsl(250, 9%, 13%);
    color: hsl(171, 75%, 40%);
    margin: 5px auto 15px auto;
    transition: 0.3s;
    text-align: center;
    width: 90%;
}
.mid-main-con:hover {
    transition: 1s;
    background-color: hsl(171, 75%, 40%);
    color: white;
   /* box-shadow: 0 8px 16px 0 hsl(171, 75%, 40%);*/
  }
.mid-main-con a {
    text-decoration: none;
    color: hsl(300, 2%, 91%);
}
.mid-main img {
    border: 1px solid hsl(171, 75%, 40%);
    border-radius: 50%;
    /*border-bottom: 5px solid rgba(68, 235, 68, 0.363);*/
    margin-top: 25px;
    width: 10%;
    padding: 25px;
}

/*skills*/ 
.skills {
    width: 75%;
    margin:  0 auto;
    color:  hsl(300, 2%, 91%);
    align-self: center;
}

.skill-image  {
    border: 10px solid white;
    background-color:white;
}
.skill-left {
    display: grid;
    grid-template-columns: 2px 1fr;
}
 .coding-icons {
     margin-top: 30px;
     width: 30px;
}
 .coding-icon-one {
    padding-top: 27px;
}
.coding-icon-two {
    padding-top: 15px;
}
.coding-icon-drie {
    padding-top: 12px;
}
.coding-icon-vier {
    padding-top: 14px;
} 
.skill-image img {
    padding: 5% 0;
}
.skills li {
    margin: 70px 0;
    list-style-type: none;
}
.skill-left ul {
    width: 75%;
    margin: 0 auto;
}
.bar {
    background-color: #353b48;
    display: block;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    box-shadow:  0 0 10px #2187e7b3;
    position: relative;
  
}
.bar span {
    height: 5px;
    position: absolute;
    left: 0;
    background-color: hsl(171, 75%, 40%);
      /*test section*/
}

/*mid main*/
.mid-main {
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}
.top-contact-me h2 {
    font-size: 30px;
}
.top-contact-me {
    margin-top: 100px;
    text-align: center;
}
/*container ervaring*/
.Ervaring-container {
    display: grid;
    grid-template-columns: repeat(2,250px);
   margin: 0 auto;
   grid-gap: 15px 50px;
    text-align: center;
    justify-content: center;
}
.Ervaring-container h2  {
    font-size: 30px;
    margin-top: 10%;
    
}
.Ervaring-container-text {
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: hsl(250, 9%, 13%);
}
.Ervaring-container-text:hover {
    transition: 1s;
    box-shadow: 0 8px 16px 0 hsl(171, 75%, 40%);
  }
.Ervaring-container-text p {
    color: hsl(300, 2%, 91%);
}
.Ervaring-container h3 {
    margin: 25% 0 10% 0;
    color: hsl(300, 2%, 91%);
    color: hsl(171, 75%, 40%);
}
/*bottom form*/
.container-form {
    width: 50%;
    margin: 0 auto;
  }
  iframe {
    width:75%;
    align-self: end;
    height: 370px;
    margin-left: 13%;
}
  .contact-form {
      margin: 0 auto;
      width: 100%;
      text-align: center;
  
  }
  .container-form button {
        padding: 18px;
        margin: 5px 0 50px 0;
          border-radius: 15px;
        border: none;
        color: hsl(300, 2%, 91%);
        font-size: 20px;
        background-color:  hsl(171, 75%, 40%);
  }
  input, textarea {
      color: hsl(300, 2%, 91%);
    border: 1px solid hsl(250, 9%, 13%);
   text-indent: 2vh;
    font-size: 20px;
    background-color: hsl(250, 9%, 13%);
  }
  input {
    width: 95%;
    padding: 15px 0;  
    border-radius: 10px;
  }
  textarea {
    width: 97%;
    padding: 15px 0;
    border-radius: 10px;
    resize: none;
  }
  
  .label-form {
    display: grid;
   grid-template-columns: repeat(2,1fr)
  }
  .container-form a{
    text-decoration: none;
    color: hsl(300, 2%, 91%);
  }
  .input-Email {
      width: 97%;
   
  }
  input:focus, textarea:focus {
    outline: none !important;
    border:1px solid hsl(171, 75%, 40%);
    box-shadow: 0 0 10px hsl(171, 75%, 40%);
  }
footer {
    background-color: hsl(250, 9%, 13%);
    text-align: center;
    padding: 25px;
}

@media only screen and (max-height: 800px)  {
    .container-top-main {
      margin-top: 19%;
    }
    .skills-left {
        margin:  0;
        padding: 0;
        border: none;
        list-style-type: none;
    }
   
}
/*ipad pro*/
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .Ervaring-container {
        grid-template-columns: repeat(1,250px);
    }
    .about-me-tekst {
        background-color: red;
    }
} */

@media only screen and (max-width: 700px)  {
    .container-top-main {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        height: auto;
    }
    #personal-foto {
        margin-top: 40%;
    }
    .container-top-main-tekst {
        margin-bottom: 100px;
    }
    .bar span {
        left: -15px;
    }
    #personal-foto {
        padding: 5px;
    }
    .container-top-main img:nth-child(1) {
        grid-row-start: 1;
    }
    .con-top-img-two {
        margin-top: 25px;
        grid-row-start: 3;
    }
    h1 {
        font-size: 3em;
    }
    .icon-navigation {
       display: none;
    }
    nav .fa-bars {
        position: absolute;
        display: block;
        right: 5%;
        top: 25%;
    }
    nav {
        scroll-behavior: smooth;
    }
    nav li {
        display: none;
    }
    nav {
        padding: 30px;
    }
    .fa-bars {
        padding: 5px;
        border-radius: 25%;
    }
    .res li {
      
        display: block;
        text-align: center;
    }
    .res span {
        float: none;
        display: block;
        text-align: center;
    }
    #about-me {
        padding-top: 0;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        display: grid;
        align-content: center;
        justify-content: center;
    }
   .about-me-ervaring-boxes  {
       display: grid;
        text-align: center;
    }
    #about-me span {
        margin: 0 15px;
    }
    #about-me h2 {
        margin-top: 20px;
        font-size: 25px;
    }
    #about-me img {
        margin: 0 auto;
    }
    .skills {
      width: 75%;
      margin: 0 auto;
    }
    .skill-image {
        margin-top: 30px;
        grid-row-start: 3;
    }
    .coding-icons {
        margin-left: 15px;
    }
    .mid-main {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;
        margin-top: 100px;
    }
    .Ervaring-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
       margin: 0 auto;
       grid-gap: 15px 5px;
        text-align: center;
        justify-content: center;
    }
    .Ervaring-container h2 {
        font-size: 25px;
    }
    .container-form {
        width: 78%;
    }
    .label-form {
        display: grid;
       grid-template-columns: repeat(1,100%);
       grid-gap: 10px;
      }
   textarea {
       width: 86%;
   }
    input {
        width: 86%;
    }
    .input-Email {
        width: 86%;
    }
}

@media screen and (max-width: 1400px) and (min-width: 760px) {
    .container-top-main {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        height: auto;
    }
    #personal-foto {
        margin-top: 40%;
    }
    .container-top-main-tekst {
        margin-bottom: 100px;
    }
    .bar span {
        left: -15px;
    }
    #personal-foto {
        padding: 5px;
    }
    .container-top-main img:nth-child(1) {
        grid-row-start: 1;
    }
    .con-top-img-two {
        margin-top: 25px;
        grid-row-start: 3;
    }
    h1 {
        font-size: 3em;
    }
    .icon-navigation {
       display: none;
    }
    nav .fa-bars {
        position: absolute;
        display: block;
        right: 5%;
        top: 25%;
    }
    nav {
        scroll-behavior: smooth;
    }
    nav li {
        display: none;
    }
    nav {
        padding: 30px;
    }
    .fa-bars {
        padding: 5px;
        border-radius: 25%;
    }
    .res li {
      
        display: block;
        text-align: center;
    }
    .res span {
        float: none;
        display: block;
        text-align: center;
    }
    #about-me {
        padding-top: 0;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        display: grid;
        align-content: center;
        justify-content: center;
    }
   .about-me-ervaring-boxes  {
       display: grid;
        text-align: center;
    }
    #about-me span {
        margin: 0 15px;
    }
    #about-me h2 {
        margin-top: 20px;
        font-size: 25px;
    }
    #about-me img {
        margin: 0 auto;
    }
    .skills {
      width: 75%;
      margin: 0 auto;
    }
    .skill-image {
        margin-top: 30px;
        grid-row-start: 3;
    }
    .coding-icons {
        margin-left: 15px;
    }
    .mid-main {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;
        margin-top: 100px;
    }
    
    .Ervaring-container h2 {
        font-size: 25px;
    }
    .container-form {
        width: 78%;
    }
    .label-form {
        display: grid;
       grid-template-columns: repeat(1,100%);
       grid-gap: 10px;
      }
   textarea {
       width: 86%;
   }
    input {
        width: 86%;
    }
    .input-Email {
        width: 86%;
    }
}