.html {
    width: 70%;
    animation: html 4s; 
}
.javascript {
    width: 45%;
    animation: javascript 4s;
}
.css {
    width: 60%;
    animation: css 4s;
}

.csharp {
    width: 50%;
    animation: csharp 4s;
}

@keyframes html {
    from {
        width: 0%;
    } 
    to {
        width: 70%;
    }
}
@keyframes javascript {
    from {
        width: 0%;
    } 
    to {
        width: 45%;
    }
}
@keyframes css {
    from {
        width: 0%;
    } 
    to {
        width: 60%;
    }
}
@keyframes csharp {
    from {
        width: 0%;
    } 
    to {
        width: 50%;
    }
}